<% layout('layouts/boilerplate') %>

<div id="cluster-map" class="mb-3">

</div>


<h1 style="text-align: center;">All Campgrounds</h1>
<div class="text-center m-4">
    <a href="/campgrounds/new"><h3>Add a Campground</h3></a>
</div>

    <% for (let campground of campgrounds) { %>
        <div class="card mb-3 mx-auto" style="max-width: 80%;">
            <div class="row g-0">
              <div class="col-lg-4 my-auto">
                <% if(campground.images.length) { %>
                  <img crossorigin="anonymous" src="<%= campground.images[0].url %>" class="img-fluid rounded-start" alt="...">
                <% } else { %>
                    <img src="https://res.cloudinary.com/dlarslo8z/image/upload/v1720837574/YelpCamp/amcka6c1j7nldeoskp5m.jpg" class="img-fluid rounded-start" alt="...">
                <% } %>
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text"><%= campground.description %></p>
                  
                  <p class="card-text">
                    <small class="text-50"><%= campground.location %></small>
                  </p>
                  <div class="d-grid gap-2">
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% } %>

  <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
  </script>

    <script src="/javascripts/clusterMap.js"></script>



